.weather{
    place-self: center;
    padding: 40px;
    border-radius: 30px;
    background-image: linear-gradient(45deg, rgb(155, 23, 126, 0.3), rgb(42, 20, 88, 0.3));
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.mouse-gradient::before {
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, rgb(202, 190, 230), transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}
.search-bar{
    opacity: 1;
    display: flex;
    align-items: center;
    gap: 12px;
    input {
        height: 50px;
        border: none;
        outline: none;
        border-radius: 40px;
        padding-left: 25px;
        color: #626262;
        background: #ebfffc;
        font-size: 18px;
    }
    img{
        width: 50px;
        padding: 15px;
        border-radius: 50%;
        background: #ebfffc;
        cursor: pointer;
    }
}
.weather-icon{
    width: 150px;
    margin: 30px 0;
}
.temp{
    color: #fff;
    font-size: 80px;
    line-height: 1;
}
.location{
    color: #fff;
    font-size: 40px;
}
.weather-data{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    .col{
        display: flex;
        align-items: flex-start;
        gap: 12px;
        font-size: 22px;
        span{
            display: block;
            font-size: 16px;
        }
        img{
            width: 26px;
            margin-top: 10px;
        }
    }
}